ollama/
openclaw/
work/sinllama/models/
work/sinllama/unsloth_compiled_cache/
.bash_history/
.bash_logout/
.bashrc/
.cache/
.claude/
.claude.json
.conda/
.config/
.gemini/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.npm/
.nv/
.openclaw/
.profile
.triton/
.wget-hsts
GEMINI.md
